body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    color:black;
    line-height: 1.5;

}
h1 {
    color:white;
}

h2 {
    color:rgb(232, 170, 145)
}

header {
    background-color: rgb(238, 187, 167);
    color:white;
    margin: 5px;
    padding: 5px;
    
}

footer {
    background-color: rgb(238, 187, 167);
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

main {
    background-color: white;
    margin: 16px;
    padding: 16px;
}

img {
    width: 150px;
    border: 2px solid rgb(234, 141, 98);
}

/*.highlight {
    border: 2px solid white;
    padding: 10px;
}*/
.highlight {
    border:2px solid peachpuff;
    padding: 10px;
    background-color: rgb(251, 251, 243);
    color:rgb(194, 83, 83)
}

a {
    color:rgb(194, 83, 83);
}

ul, ol {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    background-color: rgb(194, 83, 83);
    height: 1px;
}